.product{
  display: block;
  padding-bottom: 15px;
  &__img{
    height: 0;
    width: 100%;
    padding-top: 100%;

    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;

    &-wrap{
      padding: 10px;
      background-color: #fff;
      border-bottom:4px solid $main-color;
      margin-bottom: 5px;

    }
   }

  &__name{
    font-weight: 500;
    display: block;
    color: $product__name;
    letter-spacing:normal;
    font-size: 13px;
  }

  &__disc{
    font-weight: 400;
    display: block;
    color: $product__disc;
    font-size: 10px;
  }

  &__price{
    font-weight: 500;
    display: block;
    color: $product__name;
    font-size: 13px;
  }

  &__grid{

    display: flex;
    flex-wrap: wrap;
  }

  &__griditem{
    width: 48%;
    margin-left: 2%;
  }

  &__properties{
    .product-set__item{
      margin: 0;
      margin-bottom: -4px;
    }
    span{
      display: inline-block;
      margin-top: 5px;
    }

    .property{
      width: 45px;
      font-size: 13px;
      font-weight: 500;
      color: $product__name;

    }
  }


}

