.product-set{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-right: -2px;
  margin-left: -2px;

  &__item{
    cursor: pointer;
    display: block;
    width: 39px;
    height: 19px;
    margin-bottom: 10px;
    border-radius: 2px;
    margin-right: 2px;
    margin-left: 2px;
  }

  .color{
    position: relative;

    &-1{
      background-color: #ff1e00;
    }
    &-2{
      background-color: #5fccff;
    }
    &-3{
      background-color: #e3d9c8;
    }
    &-4{
      background-color: #cecb1c;
    }
    &-5{
      background-color: #9739cf;
    }
    &-6{
      background-color: #00359b;
    }
    &.active{
      &:before{
        content: "";
        position: absolute;
        top: 4px;
        left: 13px;
        width: 15px;
        height: 6px;
        border-left:1px solid white;
        border-bottom:1px solid white;
        transform: rotate(-45deg);
      }
    }
  }

  .size{
    text-transform: uppercase;
    color: $text-gray;
    font-weight: 400;
    text-align: center;

    &.active{
      background-color: $main-color;
      color: white;
    }
  }


}
