.tabs-main{
  .tabs{
    height: 54px;
  }
  &.row{
    .col{
      padding: 0;
    }
  }

  .indicator{
    background-color: $main-color;
    height: 3px;
  }

  .tab{
    cursor: pointer;
    height: 100%;
  }

  .tabs .tab a {
    color: $text-gray;
    font-weight: 500;


    &.active{
      color: $text-gray;
      border-bottom:4px solid $main-color;
    }

    &:focus{
      background-color: transparent;
      &.active{
        background-color: transparent;
      }
    }
  }
}
